
.cuadro {
    background-color: aqua;
    height: 150px;
    width: 150px;

/*  margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px; */


    padding: 50px 40px 3px 20px;

    margin: 20px 40px;

    border: 10px solid yellow;

    border-radius: 10px 20px 30px 40px;
   
    
}
.el-1 {
    background-color: blue;
    /* position: fixed;
    bottom: 2px;
    right: 0; */
}
.el-2 {
    background-color: red;
    /* position: absolute;
    top: 0px;
    right: 0px; */
    position: sticky;
    top: 0;
}
.el-3 {
    background-color: pink;
    /* position: relative;
    bottom: 0px;
    left: 100px; */
}
.el-4 {
    background-color: green;
    /* position: static; */
}
.el-5 {
    background-color: blueviolet;
    /* position: static; */
}