* {
    margin: 0;
    padding: 0;
}

nav {

    background-color: rgb(113, 210, 251) ;
    height: 60px;
}
ul{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: flex-end;
}

/*para eliminar el diseñom feo, en lugar de none puedes poner algun diseño antes visto*/
li{
    list-style-type: none;
}
a{
    text-decoration: none; 
   font-size: 20px;
   margin: 5px 15px;
   padding: 5px 20px;
   border-radius: 5px;
}

a:hover {
    color: palevioletred;
    background-color: rgba(35, 124, 157, 0.828);
    transition: 2s;
}
.logo img{
    width: 60px;
}
.contenedor{
    max-width: 1500px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 20px;

}

.banner img {
    width: 100%;
    height: 300px;

    object-fit: cover;
    object-position: bottom;
}

.banner img:hover {
    transform: scale(1.1);
    transition: scale(1,0);
}